<header id="header" class="site-header">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <img src="~/Content/images/techbash-2013.png" />
            </div>
            <!-- /span12 -->
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /container -->

    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <div class="header-description">
                    <h2>NEPA's Tech Conference</h2>
                    <a class="header-btn" href="#">I'm Going</a>
                </div>
                <!-- /header-description -->

                <div class="header-features">
                    <div class="row-fluid">
                        <div class="span6 header-feature">
                            <h3><i class="icon-random"></i>&nbsp; Who It Is For</h3>
                            <p>If you are an IT professional, software developer, web designer, or even just a hobbiest, we have something for you. Let us know you are coming so we can reserve your FREE seat.</p>
                        </div>
                        <div class="span6 header-feature">
                            <h3><i class="icon-group"></i>&nbsp; Event Details</h3>
                            <p>TECHbash will be held on Saturday, November 2nd, 2013 starting at 8 AM at Misericordia University in Dalas PA. For more details on the schedule of events and directions, see below.</p>
                        </div>
                    </div>
                </div>
                <!-- /header-features -->

            </div>
            <!-- /span12 -->
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /container -->
</header>

<section id="slider" class="slider text-center">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h2>Sponsors</h2>
                <div id="slider-carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/macbook-air-3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/macbook-air-1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/macbook-air-2.png" alt="">
                        </div>
                    </div>
                    <a class="carousel-control left" href="#slider-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#slider-carousel" data-slide="next">&rsaquo;</a>
                </div>
                <!-- /slider-carousel -->

            </div>
            <!-- /span12 -->
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /container -->
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row-fluid">

            <div class="span3">
                <div class="feature">
                    <i class="icon-globe icon-2x pull-left"></i>
                    <h4>Free Event</h4>
                    <p>How can you pass up a chance to advance yourself in your field for free? You will even get lunch and free swag out of the deal.</p>
                </div>
            </div>
            <!-- /span3 -->

            <div class="span3">
                <div class="feature">
                    <i class="icon-wrench icon-2x pull-left"></i>
                    <h4>Diverse Topics</h4>
                    <p>No matter what area of technology you are in, you will find things that are related to your field and things that will expand your understanding of other complimentary disciplines.</p>
                </div>
            </div>
            <!-- /span3 -->

            <div class="span3">
                <div class="feature">
                    <i class="icon-desktop icon-2x pull-left"></i>
                    <h4>Local</h4>
                    <p>Instead of driving or flying hours away and spending money on travel and lodging, attend a local event. It will benefit you and it will benefit this area.</p>
                </div>
            </div>
            <!-- /span3 -->

            <div class="span3">
                <div class="feature">
                    <i class="icon-thumbs-up icon-2x pull-left"></i>
                    <h4>Networking</h4>
                    <p>Meet others in the area that have similar interests and skills. Build a support network that you can turn to when you have a problem. Get to know local experts, all over a free lunch.</p>
                </div>
            </div>
            <!-- /span3 -->

        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /container -->
</section>

<section id="testimonials" class="testimonials">
    <div class="container">

        <div id="testimonials-carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row-fluid">
                        <div class="span12">
                            <blockquote>
                                <div>
                                    <i class="icon-quote icon-4x"></i>
                                    <p>I was amazed at the level of content presented at TECHbash. I can't wait to attend again next year.</p>
                                    <small>Timothy Corey</small>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                        <div class="span12">
                            <blockquote>
                                <div>
                                    <i class="icon-quote-left"></i>
                                    <p>Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl. Proin facilisis nulla vitae dui luctus ac pulvinar magna</p>
                                    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid">
                        <div class="span12">
                            <blockquote>
                                <div>
                                    <i class="icon-quote-left"></i>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#testimonials-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#testimonials-carousel" data-slide="next">&rsaquo;</a>
        </div>
        <!-- /testimonials-carousel -->

    </div>
    <!-- /container -->
</section>

<section id="prices" class="prices">
    <div class="row-fluid">
        <div class="span10 offset1">
            <h2>Schedule</h2>
            <table class="schedule table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Web Development</th>
                        <th>Mobile Application Development</th>
                        <th>Enterprise IT</th>
                        <th>Professional Growth</th>
                        <th>Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:00 AM</td>
                        <td colspan="5">Welcome</td>
                    </tr>
                    <tr>
                        <td>8:30 AM</td>
                        <td><strong>Intro to KnockoutJS</strong><br />Timothy Corey</td>
                        <td><strong>Hello World in Objective C</strong><br />Jake Strong</td>
                        <td><strong>Overview of Windows Server 2012</strong><br />Mark Manassi</td>
                        <td><strong>I Have This Blog...Now What?</strong><br />Susan Storm</td>
                        <td><strong>What to Expect When You Are Expecting...To Get Fired</strong><br />Robert Kraft</td>
                    </tr>
                    <tr>
                        <td>9:30 AM</td>
                        <td><strong>Intro to KnockoutJS</strong><br />Timothy Corey</td>
                        <td><strong>Hello World in Objective C</strong><br />Jake Strong</td>
                        <td><strong>Overview of Windows Server 2012</strong><br />Mark Manassi</td>
                        <td><strong>I Have This Blog...Now What?</strong><br />Susan Storm</td>
                        <td><strong>What to Expect When You Are Expecting...To Get Fired</strong><br />Robert Kraft</td>
                    </tr>
                    <tr>
                        <td>10:30 AM</td>
                        <td><strong>Intro to KnockoutJS</strong><br />Timothy Corey</td>
                        <td><strong>Hello World in Objective C</strong><br />Jake Strong</td>
                        <td><strong>Overview of Windows Server 2012</strong><br />Mark Manassi</td>
                        <td><strong>I Have This Blog...Now What?</strong><br />Susan Storm</td>
                        <td><strong>What to Expect When You Are Expecting...To Get Fired</strong><br />Robert Kraft</td>
                    </tr>
                    <tr>
                        <td>11:30 AM</td>
                        <td colspan="5">Lunch</td>
                    </tr>
                    <tr>
                        <td>12:30 PM</td>
                        <td><strong>Intro to KnockoutJS</strong><br />Timothy Corey</td>
                        <td><strong>Hello World in Objective C</strong><br />Jake Strong</td>
                        <td><strong>Overview of Windows Server 2012</strong><br />Mark Manassi</td>
                        <td><strong>I Have This Blog...Now What?</strong><br />Susan Storm</td>
                        <td><strong>What to Expect When You Are Expecting...To Get Fired</strong><br />Robert Kraft</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div id="map"></div>
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h2>Feedbacks & Questions</h2>
                <p><i class="icon-bullhorn icon-4x pull-left icon-muted"></i>I'd love to hear from you. Duis dapibus varius rhoncus. Aenean mauris urna, ultrices vitae faucibus quis, posuere id augue. Morbi id eros in nisl pretium ultrices ac nec dui. Praesent felis risus, pretium a semper et, pretium commodo nibh.</p>
            </div>
            <div class="span6">
                <br>
                <p>There are different ways to keep in touch:</p>

                <ul class="unstyled inline social">
                    <li><a href="#"><i class="icon-phone"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-github-alt"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>

                <ul class="unstyled inline text-center">
                    <li><a href="#">Our Ticket System</a></li>
                    |
             
                    <li><a href="#">Our Forum</a></li>
                    |
             
                    <li><a href="#">Following Contact Form</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="contact-form text-center">
        <i class="icon-envelope contact-form-btn closes"></i>
        <div class="container contact-form-inner">
            <div class="row-fluid">
                <form id="contact-form">
                    <input class="input-block-level" type="text" name="name" placeholder="your name" required />
                    <input class="input-block-level" type="email" name="email" placeholder="your email" required />
                    <textarea class="input-block-level" name="message" placeholder="your message" required></textarea>
                    <button type="submit" class="btn-custom">Send</button>
                </form>
            </div>
        </div>
    </div>

</section>

<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <p>No, not again. I am not going to miss it one more time!</p>
                <form id="subsc-form">
                    <div class="input-append">
                        <input id="appendedInputButton" type="email" name="subscriber" placeholder="your email" required />
                        <button type="submit" class="btn-custom">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1 class="footer-title pull-left"><a href="#"><i class="icon-beaker"></i>Beaker</a></h1>

                <p class="pull-right copyright">
                    &copy All Right Reserved.
           
                </p>
            </div>
        </div>
    </div>
</footer>
